.section_hero {
    position: relative;
    // background: #110619;
    background: oklch(17.76% 0 0);
    // background-image: url("/bg_sky.png");
    background-size: 130%;
    background-position: 0% 10%;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--border-color);
    // background-image: url("/bg_dot.png");
    // background: linear-gradient(#ed6f9b, #eea49b 50%, #dcacdc);
    .hero_test{
        color: #3e8ef1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    ::selection {
        background: var(--accent);
        color: var(--black);

        
    }
   

}
  

.hero_wrapper{
    width: 100%;
    max-width: 780px;
    font-family: var(--font-gotham);
    /* font-weight: 500; */
    line-height: 100%;
    /* color: white; */
}



.section_hero {
    // padding: 120px 0;

    // background: #fff;
}

.inner{

    // border-top: 1px solid var(--border-color);
    // border-bottom: 1px solid var(--border-color);
    // height: calc((100vh - 200px));
}

.code_container{
    // background-image: url("/bg_dot.png");

    height: 100vh;
    margin: 0 auto;
    // background: #0F0F0F;
    
    
    // border-radius: 16px;
   

    // background: url(/bg4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    
    
    // background-size: 1024px 768px;
    // color: #fff;
    // border: 3px solid #1C1C1C;


    .code_area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;

        white-space: pre-wrap;
        line-height: 1.6;
        color: #eee;
        
        
    }
    // pre{

    //     color: #aeaeae;
    //     opacity: 0.5;
    //     flex: 0 0 auto;
    //     // font-family: var(--font-dunggeun);
        

    // }
    .code{
        position: relative;
        padding-bottom: 36px;
        // font-family: 'NanumSquareNeo';
        
        // font-family: 'Noto Sans KR';
        // font-family: var(--font-dunggeun);
        font-family: var(--font-gotham);
        

        p{
            position: relative;
            overflow: hidden;
            border-right: 3px solid #fff;
            white-space: nowrap;
            
        }
        .text_sm{
            margin-left: 0.5ch;
            margin-bottom: 1ch;
            font-size: var(--fontSizeH4);
            font-weight: 500;
            letter-spacing: .2ch;

            
        }
        .text_xl{
            font-size: var(--fontSizeH0);
            font-weight: 500;
            line-height: 1.1;
            color: var(--accent);
            
        }



        p:nth-child(1) {
            animation: 0.6s steps(10) 1s 1 normal none running typing;
            animation-fill-mode: forwards;
            width: 14ch;
            opacity: 0;
          }
          
         p:nth-child(2) {

            animation: 1s steps(20) 2.5s 1 normal none running typing;
            animation-fill-mode: forwards;
            width: 8ch;
            opacity: 0;
            
          }
          
         p:nth-child(3) {
            animation: 1s steps(20) 3.5s 1 normal none running typing;
            animation-fill-mode: forwards;
            width: 8ch;
            opacity: 0;
            // color: transparent;
            // -webkit-text-stroke: 1px var(--accent);
          }
    }


    @keyframes typing {
        from { width: 0; opacity: 0}
        1% {opacity: 1;}
        99% {border-right: 3px solid #fff;}
        to {opacity: 1; border: none;}
    }

    @keyframes typing3 {
        from { width: 0; opacity: 0}
        1% {opacity: 1;}
        to {opacity: 1;}
    }

    @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

    

    
}

@supports (-webkit-touch-callout: none) {
    .code_container {
        max-height: -webkit-fill-available;
    }
}
@keyframes cursormove {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(0, 20%);
	}
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes star {
	0% { 
        opacity: 1;
		// transform: rotate(0);
		scale: 0.5;
	}
	25% {
		transform: rotate(30deg);
		scale: 1;
	}

    50% {
		transform: rotate(-30deg);
		scale: .5;
	}
    to{
        opacity: 1;
        scale: 1;
    }

}

.icon_scroll{
    border: 2px solid color-mix(in lab, #fff 40%, transparent);
    border-radius: 20px;
    width: 26px;
    height: 38px;
    position: absolute;
    left: 50%;
    margin-left: -13px;
    bottom: 64px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    &:before {
        content: "";
        height: 7px;
        width: 2px;
        background: color-mix(in lab, #fff 40%, transparent);
        border-radius: 4px;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translate(-1px);
        animation: scrollAnimation 2s ease infinite;
    }
}

@keyframes scrollAnimation {
    0% {
        transform: translate3d(-1px,0,0);
        opacity: 0
    }

    20% {
        transform: translate3d(-1px,0,0);
        opacity: 1
    }

    to {
        transform: translate3d(-1px,8px,0);
        opacity: 0
    }
}

.icon_bracket{
    // color: #0f0
}
.icon_cursor{
    background-image: url(/cursor2.png);
    background-size: cover;
    width: 56px;
    height: 73px;
    
    position: absolute;
    
    right: calc(56px + var(--spaceS));
    bottom: calc(73px + var(--spaceS));
    animation: cursormove 1s ease 6s alternate infinite, cursor 0.1s ease 6s forwards 1;
    opacity: 0;
}
.icon_bling{
    display: none;
    opacity: 0;
    background-image: url(/cursor.png);
    background-size: 56px 73px;
    width: 56px;
    height: 73px;

    position: absolute;

    animation: star 1s ease 1s forwards 1;
    top: 0.5em;
    right: 0;
    
    background-image: url(https://campaign-cdn.pstatic.net/0/campaign/2022/12/2022-year-end/img/sp_mo_v2.png);
    -webkit-background-size: 1259px 1186px;
    background-size: 1259px 1186px;
    background-position: -1152px -170px;
    width: 79px;
    height: 80px;

}

.icon_lft{
    position: absolute;
    width: 22px;
    height: 77px;
    display: inline-block;
    top: 10px;
    right: -20px;

    background: url(https://campaign-cdn.pstatic.net/0/campaign/2022/12/2022-year-end/img/gp_bracket_left.png) no-repeat 0 0;

    background-size: 22px 77px;
}
.icon_rgt{
    display: inline-block;
    width: 22px;
    height: 77px;
    
    position: absolute;
    top: 10px;
    right: -60px;

    background: url(https://campaign-cdn.pstatic.net/0/campaign/2022/12/2022-year-end/img/gp_bracket_right.png) no-repeat 0 0;
    background-size: 22px 77px;
}
// .text{
//     width: 720px;
//     height: 720px;
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     grid-template-rows: repeat(12, 1fr);
    

//     font-size: 22px;
//     color: #414141;

//     .on{
//         color: #000;
//     }
// }
// @keyframes fadein {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1;
//     }
// }

// @keyframes disap {
//     from {
//         opacity: 1;
//     }
//     to {
//         opacity: 0;
//     }
// }

// .text span:nth-child(3n-2) {
//     animation: fadein ease-in 1s;
//   }

// .text span:nth-child(2n+3) {
//     animation: fadein ease-in-out 2s;
// }
// .text .on{
//     animation: fadein ease-in 3s;
// }
  
// .text span{

// }
.name_area{
    font-size: 1.25rem;
    /* color: color-mix(in lab, #fff 60%, transparent); */
    letter-spacing: .3em;
    margin-bottom: 32px;
}

.title_area{
    // font-size: 5rem;
    font-size: 10rem;
    line-height: 100%;
    /* letter-spacing: -.03em; */
}

/* .title .icon {
    margin: 0 5px;
    opacity: .4;
    font-weight: 400;
} */

.desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.desc2{
    /* letter-spacing: 0.3em; */
}

.desc_line{
    content: "";
    height: 2px;
    /* background:  color-mix(in lab, #fff 30%, transparent); */

    background:  color-mix(in lab, #000 30%, transparent);

    width: 20%;
    display: flex;
    margin-left: 20px;
    animation-duration: .8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-origin: left;
    opacity: 0;
    position: relative;
    top: .05em;

    transform: scaleX(1);
    opacity: 1;
}


// @media (max-width: 767px) {
//     .code_container{
//         padding: 2rem;
//     }
// }