/* .card{
    position: relative;
    --header-height: 64px;
    width: calc(60vh - var(--header-height)* 0.6 - 42px);

    height: calc(100vh - var(--header-height) - 70px);
    /* height: 600px; */

    /* border-radius: 32px;
    
} */


/* wide */
.card{
    padding-top: 5rem;
    // position: sticky;
    // overflow: hidden;
    // background: var(--background);
        /* background-color: #f4edff;
        
        background: #f4f4f6; 

        box-shadow: 0 .6021873017743928px 1.8065619053231785px -1.25px #0000002e, 0 2.288533303243457px 6.8655999097303715px -2.5px #00000029, 0 10px 30px -3.75px #00000010;
         */
        /* border-radius: 16px; */

        /* height: 60vh; */
        
        /* max-width: 1220px; */
        /* min-height: 620px; */    

        
        // top: 64px;
        // width: 90%;
        // height: 100vh;
        // will-change: transform;
        // z-index: 1;
        // margin:0 auto 120px;

        /* background: #fff; */
        /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .25); */
        
        
        // border-bottom: 1px solid var(--border-color);
        
    // color: #000;
}

.card_on{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .25);
}


.card_inner{
    height: 28vw;
    
    .icon_arr {
        // display: none;
        position: absolute;
        top: var(--spaceL);
        right: 10%;
        .icon{
            fill: transparent;
            background: hsla(0, 0%, 100%, 0);
            border-radius: 50%;
            transition: background 0.3s;
            path {
                stroke: oklch(17.76% 0 0deg);
                -webkit-transition: stroke 0.3s;
                transition: stroke 0.3s;
            }
        }
    }

    &:hover{
        .icon_arr {
            .icon{
                background: hsla(0, 0%, 100%, 1);
            }
        }

        .item_img img{
            transform: scale(1.1);
        } 
        // .icon_arr svg .arr{
        //     transform: rotate(65deg) translate(81px, 18px);
        // }
    }

}
.card_poly .card_inner{
    .icon_arr{
        display: none;
    }
    &:hover{
        .item_img img{
            transform: scale(1);
        } 
    }
}
.item_content{
    position: relative;
    grid-column: 2 / span 4;
    /* width: 0; */
    /* margin: 48px;
     */
    padding: var(--spaceL);

}

.item_img{
    /* background: #fff; */
    /* flex: 2 1 0; */
    position: relative;
    overflow: hidden;
    
    // padding: 36px;
    // background: #ffe818;


    // border-radius: 0.75rem;
    // border: 8px solid rgb(31, 41, 55);
    // background: rgb(31, 41, 55);

    // .bg{
    //     position: absolute;
    //     width: 100%;
    // }


    grid-column: span 6;
    // border-radius: 20px;
    overflow: hidden;

    // clip-path: inset(100% 0% 0% 0%);

    transition: clip-path 0.8s;

    clip-path: inset(0% 0% 0% 0% round 20px);
    // clip-path: inset(0% 0% 0% 0%);

    .bg{
        width: 100%;
        height: 100%;

        object-fit: cover;
        // border-radius: 20px;

        transition: transform 0.4s;

        will-change: transform;
    }
}

// .num{
//     flex: 0 0 100px;
//     font-size: 1.6rem;
//     font-weight: bold;

// }

// .bline{
//     display: inline-block;
//     background: #000;
//   color: #fff;
//   width: 64px;
//   padding: 0.5rem;
//     // height: 32px;
//     clip-path: polygon(0 0, 70% 0, 100% 50%, 70% 100%, 0 100%);
//     clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
// }
// .aline{
//     background-color: #000;
//     position: absolute;
//     transition-property: opacity;
//     transition-duration: var(--durationL);
//     transition-timing-function: var(--bezierFastoutSlowin);
//     transition-delay: var(--collapseDelay);
//     opacity: 1;
//     
//     width: 64px;
//     height: 8px;
//     top: 2px;
// }



.content{
    // width: 100%;

    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;

    display: flex;
    height: 100%;
    
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;

}

.desc{
  

}

.txt{
    font-size: 1.1em;
    line-height: 1.5;
    // letter-spacing: 0.1em;
    color: hsla(0, 0%, 100%, .6);
    // color: hsla(0, 0%, 0%, .6);
    white-space: pre-line;
}
.title{
    // position: relative;
    margin-bottom: 12px;

    font-family: var(--font-gotham);
    
    font-size: var(--fontSizeH2);
    // letter-spacing: -0.02em;
    font-weight: 500;
    line-height: 1;

    color: hsla(0, 0%, 100%, 1);

    
}

.tag_list{
    flex: 0;
    word-wrap: break-word;
    /* font-weight: bold; */
    margin-top: 8px;
    padding-right: 24px;
}

.tag{
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 6px;
    /* padding: 6px 10px; */
    /* background: #111; */
    /* font-family: monospace; */
    line-height: 1.5;
    /* color: #fff; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    // font-weight: bold;
    color: hsla(0,0%,100%,.4);
    // color: hsla(0,0%,0%,.4);
    

    
    /* border:1px solid #ddd; */
    /* border-radius:4px; */
}
/* .vibe{
    
    background-color: #902df5;
    
    background-color: #6900ba;
    
    color: #fff;
} */

.item_line{
    padding-top: 5rem;
    // margin: 5rem 0;
    border-bottom: 1px solid var(--border-color);
    grid-column: 2 / span 11;
    // background: #0ad269;
    // background: #ecf1eb;
    // background: #eee;
    /* background: #000;
    
    color: #fff; */
}

// .btn{
//     position: absolute;
//     display: none;
// }

// .notebook{
//     width: 512px;
//     max-width: 512px;
//     height: 294px;


//     border-radius: .75rem;

//     border: 8px solid rgb(31 41 55 / 1);
//     background: rgb(31 41 55 / 1);
//     margin: 0 auto;
// }



/* .notebook_bottom{
    width: 597px;
    height: 21px;
    background-color: rgb(17 24 39 / 1);
    /* border: 8px solid rgb(31 41 55 / 1); */
    /* border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    margin: 0 auto;
} */ 

@media (max-width: 1024px) {

    .item_content {
        grid-column: 1 / span 5;
    }
    .item_line{
        grid-column: 1 / span 12;
    }
}

@media (max-width: 768px) {
    .grid_column{
        display: flex;
    }
    .card_inner{
        height: auto;
    }
    .item_content {
        grid-column: 2 / span 110;
        padding: 0 0 var(--spaceL);
    }
    .item_img{
        grid-column: 2 /span 10;
    }
    
    .card_inner .icon_arr{
        top: -4px;
    }
}